.Main {
  margin: 0 auto;
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h1 {
    font-size: 43px;
  }

  p {
    font-size: 18px;
  }
}

.Blog {
  padding-top: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(470px, 1fr));
  gap: 30px;
  h6 {
    font-size: 20px;
    font-weight: 500;
  }

  &__part1,
  &__part2 {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 20px;

    img {
      width: 90%;
      border-radius: 10px 10px 0 0;
    }

    .text-content {
      padding-right: 150px;
      

      p {
        font-size: 18px;
        margin: 0 auto;
      }
      p {
        width: 50%;
      }
      span {
        text-decoration: underline;
        cursor: pointer;
        font-size: 12px;
        margin: 0 auto;
      }
    }

    .blog-item {
      display: flex;
      justify-content: start;
      img {
        width: 200px;
        height: 150px;
      }
    }
  }
}
