// .slick{
//     &-slider{
//         height: 600px;
    
//     }
//     &-list{
//         width: 100%;
//         background-color: aliceblue;
//         display: flex;
//         align-items: center;
//     }
//     &-track{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//     }
// }
// .Cards {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust the width of columns as needed */
//     grid-gap: 20px; /* Adjust the gap between cards as needed */
// }

.slick-slider {
    width: 1602px;
height: 532px;
top: 1868px;
left: -1px;
gap: 0px;
border-radius: 10px 0px 0px 0px;
opacity: 0px;

}

.slick-dots > ul > li {
    color: white;
}

.slick-dots li.slick-active button:before {
    color: white;
}

.slick-track {
    height: 100%;
}

.slick-next:before,
.slick-prev:before {
    font-size: 30px;
}

.slick-prev:before {
    margin-left: -15px;
}

h2 {
    color: white;
    font-size: 30px;
    text-align: center;
}

p,
h4 {
    color: white;
    font-size: 20px;
    text-align: center;
}