.Users{
  background-color: rgb(228, 228, 228);
  height: 200px;
  width: 100%;
  padding-left: 50px;
  border: 2px solid;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 16px;


}
.Users:hover,
.UsersActive{
  box-shadow: rgba(0, 0, 0, 0.834) 0px 5px 15px;
}
.UsersActive{
  background-color: rgb(112, 161, 228);
  border-radius: 16px;
  height: 200px;
  width: 100%;
  padding-left: 50px;
  border: 2px solid;
  margin: 0 auto;
  margin-top: 20px;
}
.deleteButton{
  cursor: pointer;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 16px;
}
.deleteButton.ActiveButton{
  background-color: red;
  border: none;
}
