<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 50vw;
  margin: 0 auto;
}

img {
  width: 100%;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
=======
/* 
>>>>>>> cb00cfd1749185e579259a21f961d3f70bc53f2a
